#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 300;
}

h3{
  text-transform: uppercase;
  font-weight: 500;
}

form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0px;
}

button, input {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #6168e93d;
  cursor: pointer;
  transition: border-color 0.25s;
  
}

input{
  width: 100%;
}

button{
  background-color: rgb(6, 101, 6);
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

ul{
  list-style: none;
  margin: 30px 0px;
}

ul > li{
  background-color: #a5a8eb;
  padding: 10px 45px;
  margin-bottom: 8px;
  color: #1f1f1f;
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

ul > li > button {
  display: inline;
  background-color: inherit;
  color: #1a1a1a;
  border: 1px solid black;
  padding: 5px 8px;
  position: absolute;
  right: 5px;
  top: 5px;
}